<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<body>
 <main>
  <p id="notice"><%= notice %></p>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
         <h1>Welcome to<i class="fas fa-book"></i><strong>Bookers</strong>!!</h1>
        </div>
      </div>
    </div>
 </main>
</body>