<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<body>
   <h1>welcome to<i class="fas fa-book"></i>Bookers !!</h1>
   <p>In <i class="fas fa-book"></i>Bookers,</br>
   you can share and exchange your opinions , inpressions , and emotions </br>
   about various books!</p>


   <div class="row">
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
        </div>
   <div class="row">
          <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign Up</a>
        </div>
    <!--< %= link_to "login",new_user_session_path%></br>-->
    <!--< %= link_to "sign_up",new_user_registration_path%>-->
</body>

