 <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <body>
   <main>
    <!--<p id="notice">< %= notice %></p>-->
     <div class="container px-5 px-sm-0">
      <div class="row"> 
       <div class="col-md-3">
        <%= render "users/list", user:current_user,book:@book %>
       </div>
       <div class="col-md-8 offset-md-1">
       <h2>Users</h2>
       <table class="table">
        <thead>
         <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
         </tr>
        </thead>
        <tbody> 
         <tr>
           <% @users.each do |user| %>
           <td><%= attachment_image_tag user,:profile_image,format: 'jpeg',fallback: "no_image.jpg",size: "100x100" %></td>
           <td><%= user.name %></td>
           <td><%= link_to 'Show',user_path(current_user)%></td>
           <% end %>
         </tr>
        </tbody>
       </table>
      </div> 
      </div>
     </div>
   </main>
 </body>