 　   　 <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
 　　　
 　　　
 　　　　　<h1>User info</h1>
        <%= attachment_image_tag user,:profile_image, fallback: "no_image.jpg"%>
        <p>"name"</p>
        <p>"introduction"</p>
         <%= link_to, edit_user_path(current_user), class: "fas fa-user-cog" %>
         <!--'btn btn-outline-secondary btn-block fas fa-user-cog'-->

      　<h1>New book</h1>

        <%= form_with model: book, local:true do |f| %>
        
         <div class="form-group">
                <label for="book_title">Title</label>
                  <input class="form-control book_title" type="text" name="book[title]" id="book_title">
             </div>
             
          <div class="form-group">
                  <label for="book_opinion">Opinion</label>
                  <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>
             </div>

          <div class="form-group">
                <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
             </div>
        
         <% end %>
        
        
        
        
        
        

            <!--<div class="field">-->
            <!--   <label>Title</label>-->
            <!--</div>-->
            <!-- < %= f.text_field :title %>-->

            <!--<div class="field">-->
            <!--  <label>Opinion</label>-->
            <!--</div>-->
            <!--  < %= f.text_area :body %>-->

            <!--  <div class="form-group">-->
            <!--      <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">-->
            <!--  </div>-->
     